@import '../../sassVariables';

.canvas {
    padding: 2rem 1rem;
    min-height: calc(100vh - 40px);
    background-color: $background-color;

    h1 {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1201px) {
    .canvas {
        width: 80vw;
        height: 100vh;
        padding: 2rem;
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
    }
}